
snippet rcode depends
	<!--begin.rcode ${1},cache=TRUE,dependson='${2}'
	${3}
	end.rcode-->

snippet rcode no depends
	<!--begin.rcode ${1},cache=TRUE
	${3}
	end.rcode-->

snippet rfig depends
	<!--begin.rcode ${1},cache=TRUE,dependson='${2}',fig.width=${3:12},fig.height=${4:12},dev='png'
	${5}
	end.rcode-->

snippet rfig nodepends
	<!--begin.rcode ${1},cache=TRUE,fig.width=${2:12},fig.height=${3:12},dev='png'
	${4}
	end.rcode-->


