[submodule "middleman/zurb-foundation"]
	path = dotfiles/middleman/zurb-foundation
	url = https://github.com/axyz/middleman-zurb-foundation.git
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
