[KSplash Theme: BlackGlass]
Name = BlackGlass Splash Screen for KDE.
Description = BlackGlass Splash Screen
Version = 1.0
Author = Peter Maciejko <aristarh@o2.pl> (Background and Oxygen-icons by Nuno Pinheiro & Riccardo Iaconelli)

# Theme behaviour settings.
Engine = KSplashX
